.App {
  text-align: center;
}
@font-face {
  font-family: PlayFair;
  src: url("./Fonts/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
}
body {
  margin: 0;
  padding: 0;
  font-family: "PlayFair", sans-serif;
}
#name-h1 {
  color: #ff4133;
}
.glow:hover {
  box-shadow: 0 0 30px #ff4133;
}
.pulse {
  animation: pulse 2s infinite alternate;
  /* animation: pulse 1.5s infinite; */
}
@keyframes pulse {
  to {
    transform: scale(1.1);
    box-shadow: 0 0 70px #ff4133;
  }
}
#section-1,
#section-3,
#section-5 {
  background-color: #03002e;
}
#section-2,
#section-4 {
  background-color: #040048;
}
.red {
  color: #762520;
}
.box button.modern-button {
  background-color: rgb(255, 188, 88); /* Mustard Yellow */
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.box button.modern-button:hover {
  background-color: #ffd700; /* Darker Mustard Yellow on hover */
}